# Ignore __pycache__ files:
src/__pycache__/
src/core/__pycache__/
src/utils/__pycache__/

# Ignore COMPASS Upgrade files:
meshes/CompassU*
src/utils/functions/CompassU.py

# Ignore results files:
results/*